# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE & OS
.idea/
.DS_Store

# Data
data/
*.npz

#Debugging
testing/
# Training artifacts
*.keras
models/*.h5


# Optional model variants
models/ecg_float32.tflite
models/ecg_dr.tflite